@model ConstellationWebApp.Models.ViewModel

@{
    ViewData["Title"] = "Projects Index";
}

<h1>Constellation Projects</h1>

<p>
    <a asp-action="Create">Create A New Project</a>
</p>

@* Take this to an actual css later *@

@*Note: We do not want to display when the data cell is empty. Only when populated*@
@* Need to be solved: 

*@

@foreach (var item in Model.Projects)
{
    var photoPath = "~/image/" + (item.PhotoPath);

<div class="project-cards">
    @*Note: We do not want to display the PhotoPath Path but the image itself*@
    <div>
        <img class="imageThumbnail" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.Title)" asp-append-version="true" />
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.Title) :
        @Html.DisplayFor(modelItem => item.Title)
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.Description) :
        @Html.DisplayFor(modelItem => item.Description)
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.StartDate) :
        @Html.DisplayFor(modelItem => item.StartDate)
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.EndDate) :
        @Html.DisplayFor(modelItem => item.EndDate)
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.CreationDate) :
        @Html.DisplayFor(modelItem => item.CreationDate)
    </div>
    <h4>Collaborators</h4>
    @foreach (var collab in item.UserProjects)
    {
        var collabPath = "~/image/" + (collab.User.PhotoPath);
        /*  var collabMemberPath = "https://Constellation/Users/" + (collab.User.UserID);            ~ Production Variable needs the domain name*/
        var collabMemberPath = "https://localhost:44359/Users/Details/" + (collab.User.UserID);

        @*@collab.User.UserName<br />*@
        <a href="@collabMemberPath"><img class="smallThumbnail" src=" @collabPath" alt="@Html.DisplayFor(modelItem => collab.User.UserName)" asp-append-version="true" /></a>
    }

    <h4>Project Links</h4>
    @foreach (var link in item.ProjectLinks)
    {
<a href=" @Html.DisplayFor(modelItem => link.ProjectLinkUrl)" target="_blank">@Html.DisplayFor(modelItem => link.ProjectLinkLabel)</a>
        <br />
    }

    <div>
        <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
    </div>
</div>
}

