@model IEnumerable<ConstellationWebApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Users</a>
</p>

@* Take this to an actual css later *@
<style>
    .user-cards {
        border: groove;
        padding: 2em;
        display: inline-block;
    }
</style>

@foreach (var item in Model)
{
     var photoPath = "~/image/" + (item.PhotoPath);
    <div class="user-cards">
    <div>
        <img class="imageThumbnail" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.UserName)" asp-append-version="true" />
    </div>
    <div>
        @*@Html.DisplayNameFor(model => model.UserName) :*@

        @Html.DisplayFor(modelItem => item.UserName)
    </div>
    @*<div>
            @Html.DisplayNameFor(model => model.Password) :

            @Html.DisplayFor(modelItem => item.Password)
        </div>*@
    <div>
        @*@Html.DisplayNameFor(model => model.FirstName) :*@

        @Html.DisplayFor(modelItem => item.FirstName)
    </div>
    <div>
        @*@Html.DisplayNameFor(model => model.LastName) :*@

        @Html.DisplayFor(modelItem => item.LastName)
    </div>
    <div>
        @*@Html.DisplayNameFor(model => model.Bio) :*@

        @Html.DisplayFor(modelItem => item.Bio)
    </div>
    <div>
        @*@Html.DisplayNameFor(model => model.Seeking) :*@

        @Html.DisplayFor(modelItem => item.Seeking)
    </div>
    <div>
        @*@Html.DisplayNameFor(model => model.ContactLinkOne) :*@

        @Html.DisplayFor(modelItem => item.ContactLinkOne)
    </div>
    <div>
        @*@Html.DisplayNameFor(model => model.ContactLinkTwo) :*@

        @Html.DisplayFor(modelItem => item.ContactLinkTwo)
    </div>
    <div>
        @*@Html.DisplayNameFor(model => model.ContactLinkThree) :*@

        @Html.DisplayFor(modelItem => item.ContactLinkThree)
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
    </div>
</div>
}
