@model IEnumerable<ConstellationWebApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New User</a>
</p>
    @foreach (var item in Model)
    {
        var photoPath = "~/image/" + (item.PhotoPath);

    <div class="project-cards">
    @*Note: We do not want to display the PhotoPath Path but the image itself*@
    <div>
        <img class="imageThumbnail" src=" @photoPath" alt="@Html.DisplayFor(modelItem => item.UserName)" asp-append-version="true" />
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.UserName) :
        @Html.DisplayFor(modelItem => item.UserName)
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.FirstName) :
        @Html.DisplayFor(modelItem => item.FirstName)
    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.LastName) :
        @Html.DisplayFor(modelItem => item.LastName)

    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.Bio) :
        @Html.DisplayFor(modelItem => item.Bio)

    </div>
    <div>
        @Html.DisplayNameFor(modelItem => item.Seeking) :
        @Html.DisplayFor(modelItem => item.Seeking)

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
    </div>
    </div>
    }
